<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="control"><button id="startAndStop">Start</button></div>

  <p class="err" id="errorMessage"></p>
  <div>
      <table cellpadding="0" cellspacing="0" width="0" border="0">
      <tbody><tr>
          <td>
              <video #videoElement id="videoInput" width="320" height="240"></video>

          </td>
          <td>
              <canvas id="canvasOutput" width="320" height="240"></canvas>
          </td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td>
              <div class="caption">videoInput</div>
          </td>
          <td>
              <div class="caption">canvasOutput</div>
          </td>
          <td></td>
          <td></td>
      </tr>
      </tbody></table>
  </div>


